body {
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

legend {
    border: none;
    border-left: none;
    border-top: none;
    border-right: none;
    padding: 10px 10px 10px 5px;
}


fieldset {
    border: none;
}

label {
    padding: 10px 10px 10px 5px;
}